* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'PingFang SC-Medium', 'Helvetica', "Arial", "微软雅黑", "宋体";
  font-size: 14px;
  color: #000;
}
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
dl,
dt,
dd,
p,
img,
strong,
b,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  font-weight: normal;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #7488BD !important;
}
body {
  padding-bottom: 550px;
}
.header {
  width: 100%;
  text-align: center;
}
.header .top {
  width: 100%;
  background-color: #000;
  height: 30px;
  color: #fff;
  position: relative;
}
.header .top .top-left {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 30px;
  padding-left: 50px;
}
.header .top .top-left .standard-time {
  color: #fff;
}
.header .top .top-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 30px;
}
.header .top .top-center a {
  color: #fff;
}
.header .top .top-right {
  width: 518px;
  padding-right: 70px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .top .top-right a {
  color: #fff;
  font-size: 12px;
}
.header .top .top-right a:hover {
  color: #7488BD;
}
.header .top .top-right .customer {
  position: relative;
  cursor: pointer;
}
.header .top .top-right .customer .bubbles {
  display: none;
  text-align: center;
  z-index: 10002;
  position: absolute;
  top: 30px;
  left: -54px;
  width: 132px;
  height: 149px;
  background-image: url(../images/bubbles.png);
}
.header .top .top-right .customer .bubbles img {
  margin-top: 40px;
  width: 62px;
  height: 62px;
}
.header .top .top-right .customer .bubbles p {
  color: #000;
  font-size: 12px;
}
.header .top .top-right .customer:hover .bubbles {
  display: block;
}
.header .bot {
  width: 100%;
}
.header .bot .nav-bar {
  height: 60px;
  width: 100%;
  position: relative;
}
.header .bot .nav-bar .logo {
  position: absolute;
  top: 6px;
  left: 70px;
  text-indent: -99999px;
  width: 280px;
  height: 46px;
  background-image: url(../images/logo.png);
}
.header .bot .nav-bar .big-nav {
  display: flex;
  justify-content: center;
  position: relative;
}
.header .bot .nav-bar .big-nav li {
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.header .bot .nav-bar .big-nav li a {
  display: block;
  font-size: 20px;
  color: #000;
}
.header .bot .nav-bar .big-nav li a:hover {
  color: #7488BD;
}
.header .bot .nav-bar .big-nav li:nth-child(6) {
  margin-right: 0;
}
.header .bot .nav-bar .big-nav .active a {
  padding-top: 6px;
  color: #fff;
}
.header .bot .nav-bar .big-nav .active a:hover {
  color: #fff;
}
.header .bot .nav-bar .big-nav .nav-hump {
  z-index: -1;
  height: 55px;
  position: absolute;
}
.header .bot .nav-bar .small-nav {
  width: 368px;
  position: absolute;
  top: 0px;
  right: 70px;
  display: flex;
  justify-content: space-between;
}
.header .bot .nav-bar .small-nav li a {
  font-size: 14px;
  color: #666;
  height: 60px;
  display: flex;
  align-items: center;
}
.header .bot .nav-bar .small-nav li a img {
  margin-right: 4px;
}
.header .bot .nav-bar .small-nav li a:hover {
  color: #7488BD;
}
.banner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.banner .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  z-index: 9999;
  background: linear-gradient(180deg, #083882 0%, rgba(217, 217, 217, 0.09) 50%, rgba(242, 242, 242, 0.03) 71%, rgba(255, 255, 255, 0) 100%);
}
.banner .swiper {
  width: 100%;
  height: 640px;
}
.banner .swiper .swiper-pagination {
  bottom: 66px;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
  margin: 0 10px;
}
.banner .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #111188;
}
.banner .swiper .swiper-wrapper .swiper-slide {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  line-height: 640px;
  background: #0D68F1;
}
.banner .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: red;
}
.banner .swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: green;
}
.banner .swiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: yellow;
}
.banner .nav-tab {
  width: 100%;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 10001;
}
.banner .nav-tab .father-ul {
  width: 1290px;
  margin: 0 auto;
  display: flex;
}
.banner .nav-tab .father-ul .father-li {
  width: 258px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 31px 0px #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}
.banner .nav-tab .father-ul .father-li .tab-box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 11px;
}
.banner .nav-tab .father-ul .father-li .tab-box .title strong {
  display: inline-block;
  font-size: 18px;
  transition: font-size 1s;
}
.banner .nav-tab .father-ul .father-li .tab-box .des {
  margin-top: 5px;
}
.banner .nav-tab .father-ul .father-li .tab-box .des span {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #666666;
  line-height: 17px;
  padding-right: 8px;
  margin-right: 1px;
}
.banner .nav-tab .father-ul .father-li .tab-box .des span::after {
  content: '|';
  font-size: 16px;
  position: absolute;
  right: 0;
  top: -2px;
}
.banner .nav-tab .father-ul .father-li .tab-box .des span:last-child::after {
  display: none;
}
.banner .nav-tab .father-ul .father-li .tab-box .point-line {
  position: absolute;
  top: 14px;
  right: -1px;
  height: 36px;
  width: 4px;
  z-index: 1;
}
.banner .nav-tab .father-ul .father-li .tab-box .point-line .point {
  display: flex;
  height: 36px;
  width: 4px;
  flex-direction: column;
  justify-content: space-between;
}
.banner .nav-tab .father-ul .father-li .tab-box .point-line .point b {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #0D68F1;
  border-radius: 8px;
}
.banner .nav-tab .father-ul .father-li .tab-box .point-line .line {
  position: absolute;
  top: 1px;
  z-index: 1;
  background-color: #0D68F1;
  width: 4px;
  height: 0px;
  transition: all 1s;
}
.banner .nav-tab .father-ul .father-li .tab-box::after {
  display: none;
  content: '';
  position: absolute;
  background-image: url(../images/banner-tab-hump.png);
  width: 147px;
  height: 34px;
  bottom: -30px;
  left: 55px;
  z-index: 1;
}
.banner .nav-tab .father-ul .father-li .tab-content {
  overflow: hidden;
  width: 1780px;
  height: 0;
  position: absolute;
  opacity: 0;
  top: 64px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #E2E2E2 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #fff;
  z-index: 0;
  border-radius: 8px;
  transition: opacity 1s;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap {
  padding: 45px 50px 0 100px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap h4 {
  font-size: 22px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .des {
  margin: 8px 0 20px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .des span {
  font-size: 12px;
  color: #666;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .btns span {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .btns .blue-button {
  background-color: #111188;
  color: #fff;
  margin-right: 10px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .btns .red-button {
  border: 1px solid #FF3333;
  color: #FF3333;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .line {
  width: 580px;
  height: 3px;
  background-color: #999999;
  margin: 25px 0 20px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene {
  padding-left: 10px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .scene-title {
  font-size: 16px;
  font-weight: 600;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .hot-scene {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .hot-scene li {
  display: flex;
  align-items: center;
  margin-right: 55px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .hot-scene li img {
  width: 60px;
  height: 60px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .hot-scene li span {
  margin-left: 7px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .more-scene {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .more-scene li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .more-scene li img {
  width: 24px;
  height: 24px;
}
.banner .nav-tab .father-ul .father-li .tab-content .content-wrap .scene .more-scene li span {
  margin-left: 5px;
}
.banner .nav-tab .father-ul .father-li:hover .tab-box .title strong {
  margin-top: 5px;
  font-size: 24px;
  color: red;
}
.banner .nav-tab .father-ul .father-li:hover .tab-box .des {
  display: none;
}
.banner .nav-tab .father-ul .father-li:hover .tab-box .point-line .line {
  border-radius: 10px;
  height: 34px;
}
.banner .nav-tab .father-ul .father-li:hover .tab-box::after {
  display: block;
}
.banner .nav-tab .father-ul .father-li:hover .tab-content {
  opacity: 1;
  height: 484px;
}
.banner .nav-tab .father-ul:hover .father-li {
  box-shadow: none;
}
.banner .search-wrap {
  width: 100%;
  position: absolute;
  top: 156px;
  z-index: 10000;
}
.banner .search-wrap .search-content {
  width: 880px;
  height: 48px;
  z-index: 9999;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
}
.banner .search-wrap .search-content .sipt {
  display: flex;
  flex: 1;
  align-items: center;
}
.banner .search-wrap .search-content .sipt b {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}
.banner .search-wrap .search-content .sipt input {
  font-size: 14px;
  flex: 1;
  border: none;
  height: 46px;
  outline: none;
}
.banner .search-wrap .search-content .sipt input::placeholder {
  font-size: 14px;
  color: #666;
}
.banner .search-wrap .search-content .hot {
  display: flex;
  align-items: center;
}
.banner .search-wrap .search-content .hot img {
  width: 24px;
  height: 24px;
}
.banner .search-wrap .search-content .hot ul {
  display: flex;
  align-items: center;
}
.banner .search-wrap .search-content .hot ul li {
  margin-right: 16px;
}
.banner .search-wrap .search-content .hot ul li a {
  color: #666;
}
.banner .search-wrap .search-content .hot .search-btn {
  cursor: pointer;
  width: 111px;
  height: 50px;
  background-image: url(../images/search-btn1.png);
}
.banner .bot {
  width: 100%;
  position: absolute;
  z-index: 10000;
  bottom: 21px;
}
.banner .bot .bot-content {
  width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner .bot .bot-content .notice {
  width: 1058px;
  margin-right: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.banner .bot .bot-content .notice .notice-link {
  display: block;
}
.banner .bot .bot-content .notice .notice-link dl {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.banner .bot .bot-content .notice .notice-link dl dt {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.banner .bot .bot-content .notice .notice-link dl dt img {
  margin: 0 7px;
}
.banner .bot .bot-content .notice .notice-link dl dt b {
  color: #fff;
  font-weight: 600;
}
.banner .bot .bot-content .notice .notice-link dl dd {
  color: #fff;
}
.banner .bot .bot-content .notice .more {
  display: flex;
  align-items: center;
}
.banner .bot .bot-content .notice .more a {
  display: block;
  color: #fff;
}
.banner .bot .bot-content .notice .more a:hover {
  color: #7488BD;
}
.banner .bot .bot-content .notice .more::after {
  display: block;
  content: '';
  width: 2px;
  height: 39px;
  background-color: #fff;
  margin-left: 49px;
}
.banner .bot .bot-content ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.banner .bot .bot-content ul li a {
  font-size: 16px;
  color: #fff;
}
.product {
  padding-top: 37px;
  width: 100%;
  min-height: 640px;
  background: linear-gradient(0deg, #8591A4 0%, rgba(255, 255, 255, 0) 100%);
}
.product .top {
  display: flex;
}
.product .top .top-left {
  width: 56%;
  height: 80px;
  background-color: #D9D9D9;
  text-align: right;
  z-index: 2;
}
.product .top .top-left strong {
  display: block;
  padding-top: 18px;
  font-size: 28px;
  color: #003482;
  margin-right: 5px;
}
.product .top .top-right {
  width: 44%;
  padding-top: 6px;
}
.product .top .top-right .count-wrap {
  position: relative;
  height: 70px;
  border-bottom: 4px solid #D9D9D9;
  background: linear-gradient(270deg, #022683 0%, #9FA2AB 100%);
}
.product .top .top-right .count-wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  width: 160px;
  height: 80px;
  background-image: url(../images/gray-radius.png);
}
.product .top .top-right .count-wrap .count {
  max-width: 710px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 130px;
}
.product .top .top-right .count-wrap .count dl {
  padding-top: 14px;
  color: #fff;
  text-align: center;
}
.product .top .top-right .count-wrap .count dl dt {
  font-size: 16px;
  margin-bottom: 3px;
}
.product .top .top-right .count-wrap .count dl dd {
  font-size: 14px;
}
.product .top .top-right .count-wrap .count dl dd b {
  font-size: 16px;
  color: #FF3333;
}
.product .content {
  width: 1640px;
  margin: 0 auto;
}
.product .content .recommend {
  padding-top: 21px;
  display: flex;
  justify-content: flex-end;
}
.product .content .recommend p {
  margin-right: 32px;
}
.product .content .recommend p strong {
  font-weight: 600;
  color: #003482;
  font-size: 16px;
}
.product .content .recommend ul {
  display: flex;
}
.product .content .recommend ul li {
  display: flex;
  align-items: center;
}
.product .content .recommend ul li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  margin: 0 18px;
}
.product .content .recommend ul li:nth-child(1)::before {
  display: none;
}
.product .content .recommend ul li:hover::before {
  transform: scale(1.5);
}
.product .content .recommend .more {
  padding-left: 47px;
  display: flex;
  align-items: center;
}
.product .content .recommend .more::before {
  content: '';
  display: block;
  background-color: #003482;
  height: 20px;
  width: 2px;
  margin-right: 10px;
}
.product .content .version-heart {
  width: 1420px;
  margin: 42px auto 0;
  display: flex;
  justify-content: space-between;
}
.product .content .version-heart .left {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.product .content .version-heart .left li {
  margin-bottom: 20px;
  background-color: #fff;
  width: 340px;
  height: 200px;
  border-radius: 5px;
  padding: 16px 20px 22px;
  cursor: pointer;
  box-sizing: border-box;
}
.product .content .version-heart .left li dl {
  display: flex;
}
.product .content .version-heart .left li dl dt {
  margin-right: 21px;
}
.product .content .version-heart .left li dl dt img {
  width: 100px;
  height: 100px;
}
.product .content .version-heart .left li dl dd {
  padding-top: 20px;
}
.product .content .version-heart .left li dl dd p {
  color: #666;
}
.product .content .version-heart .left li dl dd p strong {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 12px;
}
.product .content .version-heart .left li .btns {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}
.product .content .version-heart .left li .btns a {
  display: block;
  width: 80px;
  height: 24px;
  border-radius: 60px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #ccc;
  margin: 0 8px;
}
.product .content .version-heart .left li .btns .blue-button {
  color: #111188 !important;
  border-color: #111188;
}
.product .content .version-heart .left li .btns .red-button {
  color: #FF3333 !important;
  border-color: #FF3333;
}
.product .content .version-heart .left li:hover {
  box-shadow: 0 0 16px 0 rgba(35, 35, 35, 0.6);
}
.product .content .version-heart .left li:hover dl dt img {
  transform: scale(1.1);
}
.product .content .version-heart .left li:hover dl dd p strong {
  color: #7488BD;
}
.product .content .version-heart .right {
  width: 300px;
  margin-left: 23px;
}
.product .content .version-heart .right .title {
  margin-bottom: 33px;
}
.product .content .version-heart .right .title strong {
  font-size: 18px;
  font-weight: 600;
}
.product .content .version-heart .right ul {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  background-color: #E2E2E2;
}
.product .content .version-heart .right ul li {
  padding: 10px 14px 14px;
  background-color: #fff;
  margin-bottom: 6px;
}
.product .content .version-heart .right ul li dl {
  display: flex;
  justify-content: space-between;
}
.product .content .version-heart .right ul li dl dt {
  display: flex;
  align-items: center;
}
.product .content .version-heart .right ul li dl dt img {
  display: block;
  width: 80px;
  height: 80px;
}
.product .content .version-heart .right ul li dl dt::after {
  content: '';
  display: block;
  width: 1px;
  height: 80px;
  background-color: #E5E9EF;
  margin: 0 10px;
}
.product .content .version-heart .right ul li dl dd {
  width: 0;
  flex: 1;
}
.product .content .version-heart .right ul li dl dd p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  color: #999;
}
.product .content .version-heart .right ul li dl dd p strong {
  color: #000;
  font-size: 16px;
  padding-bottom: 7px;
  display: block;
}
.product .content .version-heart .right ul li dl dd a {
  margin-top: 7px;
  display: block;
  width: 82px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #111188;
  color: #111188;
  text-align: center;
  line-height: 30px;
}
.product .content .version-heart .right ul li:last-child {
  margin-bottom: 0;
}
.solutions {
  padding-top: 44px;
  width: 1420px;
  margin: 0 auto;
}
.solutions h4 {
  font-weight: 600;
  font-size: 28px;
  color: #003482;
  margin-bottom: 18px;
}
.solutions .content {
  display: flex;
  justify-content: space-between;
}
.solutions .content .left {
  flex: 1;
}
.solutions .content .left .slogn {
  margin-bottom: 16px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solutions .content .left .slogn p {
  display: flex;
  align-items: center;
}
.solutions .content .left .slogn p span {
  color: #666;
  font-size: 16px;
}
.solutions .content .left .slogn p img {
  width: 14px;
  height: 18px;
  margin-right: 6px;
}
.solutions .content .left .slogn a {
  color: #003482;
}
.solutions .content .left .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.solutions .content .left .list li {
  cursor: pointer;
  width: 351px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.solutions .content .left .list li .recommend {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 96px;
}
.solutions .content .left .list li .float-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
}
.solutions .content .left .list li .float-item .float-item-box {
  position: relative;
  width: 100%;
  padding-top: 99px;
}
.solutions .content .left .list li .float-item .float-item-box img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 351px;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content {
  position: relative;
  z-index: 2;
  width: 100%;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .title {
  position: relative;
  display: inline-block;
  border-left: 3px solid #E5E9EF;
  background: #fff;
  padding-top: 7px;
  padding-left: 20px;
  height: 32px;
  box-sizing: border-box;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .title strong {
  font-size: 16px;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .title::after {
  content: '';
  position: absolute;
  right: -78px;
  bottom: 0;
  display: block;
  width: 78px;
  height: 32px;
  background-image: url(../images/corner1.png);
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .examples {
  overflow: hidden;
  position: relative;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 45px;
  height: 69px;
  box-sizing: border-box;
  border: 3px solid #E5E9EF;
  background: #fff;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .examples a {
  display: block;
  margin-right: 16px;
  margin-bottom: 10px;
}
.solutions .content .left .list li .float-item .float-item-box .float-item-content .examples::after {
  position: absolute;
  right: 20px;
  bottom: 12px;
  content: '';
  display: block;
  width: 14px;
  height: 8px;
  background-image: url(../images/arrow1.png);
}
.solutions .content .left .list li:hover .float-item .float-item-box .float-item-content .examples {
  overflow: visible;
  height: auto;
}
.solutions .content .left .list li:hover .float-item .float-item-box .float-item-content .examples::after {
  transform: rotate(180deg);
}
.solutions .content .right {
  width: 300px;
  margin-left: 23px;
}
.solutions .content .right .title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.solutions .content .right .title strong {
  font-size: 18px;
  font-weight: 600;
}
.solutions .content .right .title a {
  color: #003482;
}
.solutions .content .right .content {
  margin-top: 16px;
  width: 100%;
  background: #E2E2E2;
  padding: 10px 6px 6px;
}
.solutions .content .right .content .tab-box {
  width: 100%;
}
.solutions .content .right .content .tab-box .tab-nav {
  width: 100%;
}
.solutions .content .right .content .tab-box .tab-nav ul {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.solutions .content .right .content .tab-box .tab-nav ul li {
  cursor: pointer;
  padding-top: 5px;
  text-align: center;
  box-sizing: border-box;
  height: 30px;
  flex: 1;
  width: 0;
  background-color: #7488BD;
  color: #fff;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.solutions .content .right .content .tab-box .tab-nav ul .active {
  padding-top: 8px;
  height: 40px;
  background-color: #fff;
  color: #003482;
}
.solutions .content .right .content .tab-box .tab-content {
  width: 100%;
  background-color: #fff;
}
.solutions .content .right .content .tab-box .tab-content .section {
  display: none;
}
.solutions .content .right .content .tab-box .tab-content .section ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
}
.solutions .content .right .content .tab-box .tab-content .section ul li {
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.solutions .content .right .content .tab-box .tab-content .active {
  display: block;
}
.encyclopaedic {
  width: 1420px;
  margin: 47px auto 0;
}
.encyclopaedic h4 {
  font-size: 28px;
  color: #003482;
  margin-bottom: 18px;
  font-weight: 600;
}
.encyclopaedic h4 sup {
  color: #003482;
}
.encyclopaedic .content {
  display: flex;
  justify-content: space-between;
}
.encyclopaedic .content .left {
  flex: 1;
}
.encyclopaedic .content .left .slogn {
  margin-bottom: 16px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.encyclopaedic .content .left .slogn p {
  display: flex;
  align-items: center;
}
.encyclopaedic .content .left .slogn p span {
  color: #666;
  font-size: 16px;
}
.encyclopaedic .content .left .slogn p img {
  width: 14px;
  height: 18px;
  margin-right: 6px;
}
.encyclopaedic .content .left .slogn a {
  color: #003482;
}
.encyclopaedic .content .left .qa-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.encyclopaedic .content .left .qa-list li {
  margin-bottom: 10px;
  width: 540px;
  height: 60px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top right;
}
.encyclopaedic .content .left .qa-list li a {
  background: linear-gradient(90deg, #F0F0F0 48%, rgba(230, 230, 230, 0.58) 76%, rgba(217, 217, 217, 0) 100%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
}
.encyclopaedic .content .left .qa-list li a strong {
  font-size: 16px;
  font-weight: 600;
}
.encyclopaedic .content .left .qa-list li a::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/Q.png);
  margin-right: 6px;
}
.encyclopaedic .content .left .qa-list li a:hover strong {
  z-index: 2;
  color: #7488BD;
}
.encyclopaedic .content .left .qa-type-wrap {
  display: flex;
  justify-content: space-between;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab {
  width: 166px;
  margin-right: 6px;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul li {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #F2F2F2;
  position: relative;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul li strong {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul li strong b {
  text-align: center;
  line-height: 40px;
  width: 166px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul li:hover strong b {
  color: #7488BD;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul .active strong {
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul .active strong b {
  color: #FF3333 !important;
}
.encyclopaedic .content .left .qa-type-wrap .qa-tab ul .active strong::after {
  width: 22px;
  height: 40px;
  content: '';
  display: block;
  background-image: url(../images/qa-arrow.png);
  position: absolute;
  top: 0;
  left: 170px;
}
.encyclopaedic .content .left .qa-type-wrap .qa-content {
  width: 927px;
  height: 160px;
}
.encyclopaedic .content .left .qa-type-wrap .qa-content ul li {
  display: none !important;
  background-position: top right;
  background-repeat: no-repeat;
}
.encyclopaedic .content .left .qa-type-wrap .qa-content ul li .qa-type-list {
  overflow: hidden;
  box-sizing: border-box;
  height: 160px;
  background: linear-gradient(90deg, #F1F1F1 52%, rgba(249, 249, 249, 0.42) 85%, rgba(255, 255, 255, 0) 100%);
  padding: 19px 173px 19px 48px;
}
.encyclopaedic .content .left .qa-type-wrap .qa-content ul li .qa-type-list a {
  display: inline-block;
  margin: 0 30px 14px 0;
}
.encyclopaedic .content .left .qa-type-wrap .qa-content ul .active {
  display: block !important;
}
.encyclopaedic .content .right {
  width: 300px;
  margin-left: 23px;
}
.encyclopaedic .content .right .title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.encyclopaedic .content .right .title strong {
  font-size: 18px;
  font-weight: 600;
}
.encyclopaedic .content .right .title a {
  color: #003482;
}
.encyclopaedic .content .right .everybody-qa-wrap {
  background-color: #E2E2E2;
  width: 300px;
  height: 330px;
  border-radius: 4px;
  margin-top: 16px;
  padding: 6px;
  box-sizing: border-box;
}
.encyclopaedic .content .right .everybody-qa-wrap ul {
  height: 100%;
  background-color: #fff;
  padding: 16px 25px;
  box-sizing: border-box;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li {
  margin-bottom: 22px;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a {
  display: flex;
  align-items: center;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a .lazy {
  width: 35px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a strong {
  width: 0;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  color: #666666;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a strong sup {
  vertical-align: top !important;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a:hover strong {
  color: #7488BD;
}
.encyclopaedic .content .right .everybody-qa-wrap ul li a:hover strong sup {
  color: #7488BD;
}
.cases {
  width: 1580px;
  margin: 46px auto 0;
}
.cases h4 {
  font-size: 28px;
  color: #003482;
  margin-bottom: 18px;
  font-weight: 600;
}
.cases h4 sup {
  color: #003482;
}
.cases .content {
  display: flex;
  justify-content: space-between;
}
.cases .content .left {
  flex: 1;
}
.cases .content .left .slogn {
  margin-bottom: 16px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cases .content .left .slogn p {
  display: flex;
  align-items: center;
}
.cases .content .left .slogn p span {
  color: #666;
  font-size: 16px;
}
.cases .content .left .slogn p img {
  width: 14px;
  height: 18px;
  margin-right: 6px;
}
.cases .content .left .slogn a {
  color: #003482;
}
.cases .content .left .cases-tab-wrap {
  background-color: #fff;
  border: 6px solid #E5E9EF;
  border-radius: 8px;
  width: 1260px;
  height: 460px;
  box-sizing: border-box;
  padding: 0 50px;
}
.cases .content .left .cases-tab-wrap .tab-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  position: relative;
}
.cases .content .left .cases-tab-wrap .tab-nav li {
  cursor: pointer;
  height: 102px;
  z-index: 2;
}
.cases .content .left .cases-tab-wrap .tab-nav li strong {
  text-align: center;
  display: block;
  width: 88px;
  border-bottom: 2px solid #7488BD;
  padding-bottom: 8px;
  padding-top: 27px;
  font-size: 20px;
  color: #333;
}
.cases .content .left .cases-tab-wrap .tab-nav li:hover {
  color: #7488BD;
}
.cases .content .left .cases-tab-wrap .tab-nav .active strong {
  color: #7488BD;
  border: none;
}
.cases .content .left .cases-tab-wrap .tab-nav .valley {
  position: absolute;
  z-index: 1;
  width: 326px;
  height: 76px;
  background-image: url(../images/valley.png);
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item {
  height: 300px;
  overflow: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  display: none;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item {
  display: block;
  width: 49%;
  margin-bottom: 30px;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl {
  display: flex;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dt {
  margin-right: 18px;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dt img {
  display: block;
  width: 120px;
  height: 80px;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dd {
  flex: 1;
  width: 0;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dd .title {
  margin-bottom: 9px;
  width: 100%;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dd .title strong {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item dl dd .des {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  color: #666;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item:hover dl dd .title strong {
  color: #003482;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item .news-item:hover dl dd .des {
  color: #7488BD;
}
.cases .content .left .cases-tab-wrap .tab-content .tab-content-item::after {
  content: '';
  display: block;
  width: 1px;
  height: 300px;
  background-color: #E5E9EF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.cases .content .left .cases-tab-wrap .tab-content .active {
  display: flex;
}
.cases .content .right {
  width: 300px;
  margin-left: 23px;
}
.cases .content .right .title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.cases .content .right .title strong {
  font-size: 18px;
  font-weight: 600;
}
.cases .content .right .title a {
  color: #003482;
}
.cases .content .right .new-cases {
  margin-top: 17px;
  width: 300px;
  height: 460px;
  border: 6px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 10px;
}
.cases .content .right .new-cases ul li {
  cursor: pointer;
  padding: 12px 4px;
  border-bottom: 1px solid #D9D9D9;
}
.cases .content .right .new-cases ul li a {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  color: #666;
}
.cases .content .right .new-cases ul li:last-child {
  border: none;
}
